{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
    <h1>S'enregister</h1>
    </div>
    <div class="d-flex justify-content-center">

        {{ form_start(registrationForm) }}
        <div class="d-flex justify-content-end">
        {{ form_row(registrationForm.email) }}
        </div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="d-flex justify-content-center">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>

        
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-lg btn-primary mt-2">S'enregister</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
